.title {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 25px;
}

.city {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 25px;
}

.logo {
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

}