.searchBar {
    width: 100%;
    text-align: center;
    background-color: transparent;
    margin-top: 1rem;
    padding: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: larger;
}

.gearButton {
    text-align: center;
    margin: 3rem;
}

.deleteButton {
    transition-duration: 0.4s;
    border: 2px solid #4cafaa;
  }
  
.deleteButton:hover {
    background-color: #2ac2ba;
    color: white;
  }

.gearListtitle {
    text-align: center;
}

.gearForm {
    margin-left: auto;
    margin-right: auto;
}

.categoryFilter {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}

.gearListTitle {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 50%;
    margin-right: 50%;
    width: 100%;
}