.container--login {
    text-align: center;
}

.title {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 80px;
    font-weight: 50px;
    margin-top: 15%;
}

.signIn {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 25px;
}

.email {
    padding-left: 1rem;
    margin-left: 2rem;
}