.container--login {
    text-align: center;
}

.title {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 25px;
    margin-top: 15%;
}

.signIn {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 25px;
}